JDBCTest/src/main/resources/XML/Region.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="regions">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="region" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="regionId" type="xs:positiveInteger"/>
                            <xs:element name="regionName" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>